In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
hyperparameter_results=pd.read_csv('hyperparameter_tuning.csv')
hyperparameter_results.head()

,max_depth_c,n_est_c,max_depth_r,n_est_r,test_acc_1,test_acc_2,test_acc_3,test_f1_1,test_f1_2,test_f1_3,test_r2_1,test_r2_2,test_r2_3,overall_r2_1,overall_r2_2,overall_r2_3
0,15,100,15.0,100,0.809673,0.808628,0.806538,0.879992,0.878850,0.877462,0.043850,0.350668,0.305207,0.043300,0.305781,0.329503
1,15,100,15.0,150,0.810008,0.811262,0.809088,0.880171,0.880407,0.879151,0.023568,0.325324,0.319281,0.025445,0.299591,0.358638
2,15,100,15.0,200,0.808753,0.810008,0.807458,0.879316,0.879593,0.878051,0.059234,0.342829,0.320799,0.061361,0.364042,0.342987
3,15,100,30.0,100,0.808586,0.809130,0.806622,0.879389,0.878963,0.877664,0.151966,0.353347,0.337773,0.137760,0.320426,0.359681
4,15,100,30.0,150,0.809046,0.809506,0.807165,0.879682,0.879121,0.877947,0.123989,0.366025,0.329426,0.122700,0.302478,0.352633

In [3]:
regression_frame=hyperparameter_results[['max_depth_r','n_est_r','test_r2_2','test_r2_3']]
regression_frame.head()

   max_depth_r  n_est_r  test_r2_2  test_r2_3
0         15.0      100   0.350668   0.305207
1         15.0      150   0.325324   0.319281
2         15.0      200   0.342829   0.320799
3         30.0      100   0.353347   0.337773
4         30.0      150   0.366025   0.329426

In [27]:
regression_frame['avg_r2']=pd.to_numeric((regression_frame['test_r2_2']+regression_frame['test_r2_3'])/2)
regression_frame.head()

C:\Users\noahw\Anaconda3\envs\ipykernel_py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  max_depth_r  n_est_r test_r2_2 test_r2_3    avg_r2
0          15      100  0.350668  0.305207  0.327938
1          15      150  0.325324  0.319281  0.322303
2          15      200  0.342829  0.320799  0.331814
3          30      100  0.353347  0.337773  0.345560
4          30      150  0.366025  0.329426  0.347725

In [28]:
regression_frame.replace({np.nan:'No Limit'},inplace=True)

C:\Users\noahw\Anaconda3\envs\ipykernel_py3\lib\site-packages\pandas\core\generic.py:3836: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  limit=limit, regex=regex)

In [29]:
regression_frame.groupby('max_depth_r').agg({'avg_r2':'mean'})

               avg_r2
max_depth_r
15.0         0.328111
30.0         0.338716
No Limit     0.336409

In [30]:
regression_frame.groupby('n_est_r').agg({'avg_r2':'mean'})

           avg_r2
n_est_r
100      0.335408
150      0.332757
200      0.334462